<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/../Admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/../Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/../Admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/../Admin/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <%- include('../../partials/Adminside/adminsidepanel') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_navbar.html -->
                <%- include('../../partials/Adminside/adminNav') %>
                    <!-- partial -->
                    <div class="main-panel">
                        <div class="content-wrapper">
                            <div class="row">
                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Add offers</h4>
                                            <a href="/admin/Offer/">Back</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                      
                                        <div class="card-body">
                                            <% if (error && error.length > 0  ) { %>
                                                <div class="alert alert-danger text-center" id="error-message">
                                                    <% error.forEach(function(message) { %>
                                                        <p><%= message %></p>
                                                    <% }); %>
                                                </div>
                                                <script>
                                                    // Add a timeout to hide the error message after 3 seconds (adjust as needed)
                                                    setTimeout(function() {
                                                        var errorMessage = document.getElementById('error-message');
                                                        if (errorMessage) {
                                                            errorMessage.style.display = 'none';
                                                        }
                                                    }, 3000); // 3000 milliseconds (3 seconds)
                                                </script>
                                            <% } %>
                                            <form action="/admin/offer/create/" method="post">


                                                <div class="form-group">
                                                    <label for="exampleInputCity1">Offer Name :</label>
                                                    <input type="text" class="form-control" name="name"
                                                        id="exampleInputCity1" placeholder="Enter the offer name" required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputCity1">Discount  : </label>
                                                    <input type="number" class="form-control" name="discount"
                                                    id="exampleInputCity1" placeholder="enter the offer Percentage"
                                                    required>
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputCity1">Starting Date :</label>
                                                    <input type="date" class="form-control"
                                                        name="startingDate" id="exampleInputCity1"
                                                        placeholder="set a starting date" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">Expaire Date
                                                        :</label>
                                                    <input type="date" class="form-control" name="expiryDate"
                                                        id="exampleInputCity1" placeholder="set the expire date"
                                                        required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputCity1">Status:</label>
                                                    <input type="text" class="form-control" name="status"
                                                        id="exampleInputCity1" placeholder="Enter the Description"
                                                        required>
                                                </div>
                                        </div>


                                        <button type="submit"
                                            class=" mx-auto btn btn-primary btn-lg mb-4">Add</button>
                                        <div>
                                  
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->

                
                    <!-- partial -->
            </div>
            <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/../Admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/../Admin/js/off-canvas.js"></script>
    <script src="/../Admin/js/hoverable-collapse.js"></script>
    <script src="/../Admin/js/misc.js"></script>
    <script src="/../Admin/js/settings.js"></script>
    <script src="/../Admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
</body>

</html>