<div class="footer-area footer-padding">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                <div class="single-footer-caption mb-50">
                    <div class="single-footer-caption mb-30">
                        <!-- logo -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="/Customer/img/logo/logo2_footer.png" alt=""></a>
                        </div>
                        <div class="footer-tittle">
                            <div class="footer-pera">
                                <p>
                                    Premium watches are timepieces known for their exceptional craftsmanship, quality, and luxury. They are often crafted by prestigious watchmakers with a rich history in horology, using.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#"> Offers & Discounts</a></li>
                            <li><a href="#"> Get Coupon</a></li>
                            <li><a href="#">  Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>New Products</h4>
                        <ul>
                            <li><a href="#">Woman Watches</a></li>
                            <li><a href="#">Watches Accessories</a></li>
                            <li><a href="#"> Man Watches</a></li>
                            <li><a href="#"> Rubber made Watches</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Support</h4>
                        <ul>
                            <li><a href="#">Frequently Asked Questions</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Report a Payment Issue</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

<script src="/Customer/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/Customer/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/Customer/js/popper.min.js"></script>
<script src="/Customer/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/Customer/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/Customer/js/owl.carousel.min.js"></script>
<script src="/Customer/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/Customer/js/wow.min.js"></script>
<script src="/Customer/js/animated.headline.js"></script>
<script src="/Customer/js/jquery.magnific-popup.js"></script>

<!-- Scroll up, nice-select, sticky -->
<script src="/Customer/js/jquery.scrollUp.min.js"></script>
<script src="/Customer/js/jquery.nice-select.min.js"></script>
<script src="/Customer/js/jquery.sticky.js"></script>

<!-- contact js -->

<script src="/Customer/js/jquery.form.js"></script>
<script src="/Customer/js/jquery.validate.min.js"></script>
<!-- <script src="/Customer/js/mail-script.js"></script> -->
<script src="/Customer/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/Customer/js/plugins.js"></script>
<script src="/Customer/js/main.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>
<!-- Add this script at the end of your HTML body -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/Customer/js/memoryreload.js"></script>
<script src="https://unpkg.com/sweetalert2@11.6.9/dist/sweetalert2.all.min.js"></script>

</body>
</html>
