<header>
    <!-- Header Start -->
    <%- include('../partials/Customerside/header') %>
        <!-- Header End -->
</header>
<main>

    <!-- Hero Area End-->
    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <!-- <a href="#" class="btn_3">Create an Account</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome ! <br>
                                Please register in now</h3>
                            <form class="row contact_form" action="/register" method="post" id="myForm">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Username"
                                        required>
                                </div>
                                <div id="nameErrorMessgae" style="color: red;"></div>

                                <div class="col-md-12 form-group p_star">

                                    <input type="text" minlength="10" maxlength="10" class="form-control" id="mbn"
                                        name="mbn" placeholder="Mobile" required>
                                </div>
                                <div id="mbnErrorMessage" style="color: red;"></div>
                                <div class="col-md-12 form-group p_star d-flex">
                                    <label>Select Gender : </label> &nbsp;
                                    <div>
                                        <input type="radio" id="maleRadio" name="gender" value="Male" required>
                                        <label for="maleRadio">Male</label> &nbsp;
                                    </div>
                                    <div>
                                        <input type="radio" id="femaleRadio" name="gender" value="Female" required>
                                        <label for="femaleRadio">Female</label> &nbsp;
                                    </div>
                                    <div>
                                        <input type="radio" id="otherRadio" name="gender" value="Other" required>
                                        <label for="otherRadio">Other</label> &nbsp;
                                    </div>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                        required>
                                </div>
                                <div id="emailErrorMessage" style="color: red;"></div>
                                <div class="col-md-12 form-group p_star">
                                    <input required type="password" class="form-control" id="password" name="password"
                                        placeholder="Password">
                                </div>
                                <div id="passwordErrorMessage" style="color: red;"></div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="conformpassword"
                                        name="conformpassword" placeholder="conform Password" required>
                                </div>
                                <div id="conformpasswordErrorMessage" style="color: red;"></div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex justify-content-between">
                                        <div>
                                            <div class="creat_account d-flex align-items-center">
                                                <input type="checkbox" id="showPasswordCheckbox"> 
                                                <label for="f-option">show password</label>
                                            </div>
                                        </div>
                                        <div class="te">
                                            <p>Already registered ? <a class="text-info" href="/user-Login">Login</a></p>
                                        </div>
                                    </div>

                                    <!--error messages-->
                                    <div style="background-color: rgb(164, 173, 170);">
                                        <p id="error-message" class="text-danger"></p>
                                    </div>
                                    <!--end messages-->
                                    <div>
                                    </div>
                                    <button type="submit" id="sub-button" value="submit" class="btn_3">
                                        register
                                    </button>
                                    <% if (typeof message !="undefined" ) {%>
                                        <p class="mt-3 text-danger ">
                                            <%= message %>
                                        </p>
                                        <%} %>
                                            <!-- Add a button to trigger the modal -->
                                            <button type="button" class="btn btn-primary col-lg-12" data-toggle="modal"
                                                data-target="#loginModal">
                                                you have refferal code
                                            </button>
                                            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
                                                aria-labelledby="loginModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <!-- ... (rest of your modal code) ... -->
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="loginModalLabel">applay code
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label for="inputEmail"
                                                                                class="sr-only">Refferal code
                                                                            </label>
                                                                            <input type="text" class="form-control"
                                                                                id="inputEmail"
                                                                                placeholder="Enet the refferal code "
                                                                                name="rafferalcode">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <button type="submit" data-dismiss="modal"
                                                                                class="btn btn-primary mb-2">applay</button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
</main>

<footer>
    <!-- Footer Start-->
    <%- include('../partials/Customerside/footer') %>
        <!-- Footer End-->
</footer>
<script src="/Customer/js/signupValidation.js"></script>
