
    <header>
        <!-- Header Start -->
        <%- include('../partials/Customerside/header') %>
            <!-- Header End -->
    </header>
    <main>
       
        <!--================login_part Area =================-->

        <section class="login_part  ">
            <div class="container ">
                <div class="row align-items-center justify-content-center">

                
                    <div class="col-lg-6 col-md-6">
                        <div class="shadow  bg-white rounded login_part_form"
                            style="background-color: #e8eaf6; border-radius: 30px;">
                            <div class="login_part_form_iner">
                                <h3>Are you forget you password ! <br>
                                    Please enter you email ...</h3>
                                          <!--error messages-->
                                <form class="row contact_form" id="forgetPassword" action="/user/set-new-password-check-otp" method="post"
                                    novalidate="novalidate">
                                    <input type="hidden" value="<%= id %>" name="id">
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control " id="otp" name="OTP" value=""
                                            placeholder="Enter the OTP" required>
                                    </div>
                                    <div id="otpError" style="color: red;"></div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control " id="password" name="newpassword" value=""
                                            placeholder="New password" >
                                    </div>
                                    <div id="newpasswordErrorMessage" style="color: red;"></div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control " id="conformpassword" name="confirmpassword" value=""
                                            placeholder="confirm password" >
                                    </div>
                                    <div id="confirmpasswordErrormessage" style="color: red;"></div>
                                    <div class="col-md-12 form-group">
                                        <div class="creat_account d-flex align-items-center">
                                            <input type="checkbox" id="f-option" name="selector">
                                            <label for="f-option">Remember me</label>
                                        </div>
                                        <button type="submit" value="submit" class="btn_3">
                                            send
                                        </button>
                                      
                                    </div>
                                </form>
                                <div class="text-danger" id="countdown">Time remaining: <span id="timer">60</span>
                                    seconds</div>
                                <div id="resendContainer" class="row col-md-12 form-group p_star" style="display: none;">
                                    <form action="/forget-password-otp-resend" method="post">
                                      <input type="hidden" name="userId" value="<%= id %>">
                                      <button type="submit" class="btn" id="resendButton">Resend OTP</button>
                                    </form>
                                  </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- success message -->
    

                <!--================login_part end =================-->
    </main>
    <footer>
        <!-- Footer Start-->
        <%- include('../partials/Customerside/footer') %>
            <!-- Footer End-->
    </footer>
    <script src="/Customer/js/otpCounter.js"></script>
    <script src="/Customer/validation/forgetPassword.js"></script>

