
    <header>
        <!-- Header Start -->
        <%- include('../partials/Customerside/header') %>
            <!-- Header End -->
    </header>
    <main>
       
        <!--================login_part Area =================-->

        <section class="login_part  ">
            <div class="container ">
                <div class="row align-items-center justify-content-center">

                
                    <div class="col-lg-6 col-md-6">
                        <div class="shadow  bg-white rounded login_part_form"
                            style="background-color: #e8eaf6; border-radius: 30px;">
                            <div class="login_part_form_iner">
                                <h3>Are you forget you password ! <br>
                                    Please enter you email ...</h3>
                                          <!--error messages-->
                                <form class="row contact_form" action="/user/set-new-password-check-otp" method="post"
                                    novalidate="novalidate">
                                    <input type="hidden" value="<%= id %>" name="id">
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control " id="otp" name="OTP" value=""
                                            placeholder="Enter the OTP" required>
                                    </div>
                                  
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control " id="email" name="newpassword" value=""
                                            placeholder="New password" required>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control " id="email" name="confirmpassword" value=""
                                            placeholder="confirm password" required>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <div class="creat_account d-flex align-items-center">
                                            <input type="checkbox" id="f-option" name="selector">
                                            <label for="f-option">Remember me</label>
                                        </div>
                                        <button type="submit" value="submit" class="btn_3">
                                            send
                                        </button>
                                      
                                    </div>
                                </form>
                                <form action="/forget-password-otp-resend" method="post">
                                    <button class="btn" type="submit">Resend the otp</button>
                                    <input type="hidden" value="<%= id %>" name="id">
                                </form>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- success message -->
    

                <!--================login_part end =================-->
    </main>
    <footer>
        <!-- Footer Start-->
        <%- include('../partials/Customerside/footer') %>
            <!-- Footer End-->
    </footer>
