<script src="/Admin/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/Admin/vendors/chart.js/Chart.min.js"></script>
<script src="/Admin/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/Admin/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/Admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/Admin/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/Admin/js/off-canvas.js"></script>
<script src="/Admin/js/hoverable-collapse.js"></script>
<script src="/Admin/js/misc.js"></script>
<script src="/Admin/js/settings.js"></script>
<script src="/Admin/js/todolist.js"></script>
<!-- endinject -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Custom js for this page -->
<script src="/Admin/js/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>


